
    <form action="/searchArticle" method="POST" class="form-inline my-2 my-lg-12"  >
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">

        <%if(user) { %>
          <a class="navbar-brand" href="/user/home">Espace admin</a>
          <% }else { %>
            <a class="navbar-brand" href="#">Bienvenue!</a>
            <% } %>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/login">Login <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register</a>
                  </li>
                  <li class="nav-item dropdown">

                    <select class="form-control form-control-sm" name="CategorieId">

                      <option value="" selected>Choisir une catégorie</option>
                      <%for(item of dataCategorie) { %>

                        <option value="<%=item.id%>">
                          <%=item.nom%>
                        </option>

                        <% } %>
                    </select>
                  </li>
                  <li class="nav-item">
                    <%if(user) { %>
                    <a class="nav-link" href="#"><i class="fa fa-bell ml-5 notification" id="<%=user.id%>"><div class='nbr_notif'><%=notif_non_lu.length%></div></i></a>
                    <% } %>
                  </li>
                </ul>

                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                  name="searchArticle">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

              </div>
      </nav>


      <!-- <div class="modal_notification dis-none col-md-4">
        

      </div> -->
      </div>

    </form>